.list-group {
    width: 20%;
}

.contact {
    margin-left: 6%;
    margin-top: 2%;
    padding: 5px;
    width: 500px;
}

.E-Mail-Form {
    width: 400px;
    clear: both;
    margin-left: 6%;
    margin-top: 3%;
}

.E-Mail-Form input {
    width: 100%;
    clear: both;
    background-color: rgba(225, 225, 225, 0.74);
}

.E-Mail-Form textarea{
    background-color: #d9d9d9;
}

.social-buttons{
    width: 30px;
    height: 30px;
}

.buttons {
    margin-left: 45%;
}

.copyright {
    display: inline-block;
    float: left;
}

.Contact-gegevens{
    float: right;
    margin-right: 5%;
}

.registratie {
    margin-top: 50px;
}

.catnav {
    position: fixed;
    margin-top: 100px;
    margin-left: 20px;
    max-width: 200px;
}

.catnav li {
    display: block;
    float: none;
}

.productrij {
    margin-top: 20px;
}

.productdetails {
    margin-top: 30px;
}

.product .thumbnail {
    z-index: 2;
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.thumbnail img {
    z-index: 1;
}

.uitloggen {
    float: right;
    margin-top: 7px;
}

.winkelwagentje {
    position: absolute;
    top: 0px;
    right: 0px;
}

.naam {
    margin-top: 20px;
}