.registratie {
    margin-top: 50px;
}

.catnav {
    position: fixed;
    margin-top: 100px;
    margin-left: 20px;
    max-width: 200px;
}

.catnav li {
    display: block;
    float: none;
}

.productrij {
    margin-top: 20px;
}

.productdetails {
    margin-top: 30px;
}

.product .thumbnail {
    z-index: 2;
    width: 200px;
    height: 200px;
    margin: 0px auto;
}

.thumbnail img {
    z-index: 1;
}

.uitloggen {
    float: right;
    margin-top: 7px;
}

.winkelwagentje {
    position: absolute;
    top: 0px;
    right: 0px;
}